.semiInfoSection2-container {
  cursor: default;

  //   border: solid rgba(237, 240, 237, 0.441) 5px;
  .semiInfoSection2-wrapper {
    position: relative;
    width: 90%;
    margin: 5rem auto auto;
    height: 30rem;
    .title-section {
      top: 2rem;
      position: absolute;
      font-size: 2em;
      font-weight: bold;
    }
    .firstInfo-section {
      position: absolute;
      margin-top: 3rem;
      top: 2rem;
      font-size: 1.3em;
      .subTitle1-section {
        font-weight: bold;
      }
      .detail1-section {
        width: 70rem;
      }
    }
    .secondInfo-section {
      position: absolute;
      top: 13rem;
      font-size: 1.3em;
      .subTitle2-section {
        font-weight: bold;
      }
      .detail2-section {
      }
    }
    .thirdInfo-section {
      position: absolute;
      top: 17.5rem;
      font-size: 1.3em;
      .subTitle3-section {
        font-weight: bold;
      }
      .detail3-section {
      }
      .subTitle3_2-section {
        margin-top: 1.5rem;
        font-weight: bold;
      }
      .detail3_2-section {
      }
    }
  }
}
