.markNav-container {
  position: absolute;
  width: 7.4rem;
  height: 1000%;
  .text-section {
    width: 4rem;
    padding-top: 8rem;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.3em;
    // color: rgb(55, 58, 232);
    text-shadow: 6px 6px 6px rgba(246, 171, 246, 0.667);
  }
  .markNav-wrapper {
    position: sticky;
    top: 0;
    .semiInfoSection-section {
      height: 34vh;
      background: rgba(54, 60, 54, 0.441);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .semiInfoSection-section__active {
      height: 34vh;
      background: rgba(45, 238, 238, 0.725);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .nameSection-section {
      height: 33vh;
      background: rgba(54, 60, 54, 0.441);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .nameSection-section__active {
      height: 34vh;
      background: rgba(45, 238, 238, 0.725);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .semiInfoSection2-section {
      height: 33vh;
      background: rgba(54, 60, 54, 0.441);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .semiInfoSection2-section__active {
      height: 34vh;
      background: rgba(45, 238, 238, 0.725);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
  }
}
