.markNav-container {
  position: absolute;
  width: 8.14rem;
  height: 1000%;

  .markNav-wrapper {
    position: sticky;
    top: 0;
    .semiInfoSection-section {
      height: 34vh;
      background: rgba(54, 60, 54, 0.441);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .nameSection-section {
      height: 33vh;
      background: rgba(54, 60, 54, 0.441);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
    .semiInfoSection2-section {
      height: 33vh;
      background: rgba(54, 60, 54, 0.441);
      border-bottom: solid rgba(237, 240, 237, 0.441);
    }
  }
}
