body {
  //  -ms-overflow-style: none;
  overflow-x: hidden;
  background: black;
}

.pc_landingPage-container {
  margin: 0 auto;
  // width: 56.5rem;
  //   width: 70.5rem;
  width: 1500px;
  height: 200vh;
  background-color: white;
}
